/*
 * jQuery Nivo Slider v2.5.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2011, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * Update by Ryan S
 * URI: http://www.sutanaryan.com/
 */
 
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}

.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}

/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	z-index: 99;
	padding: 20px 14px 40px 14px;
	background: rgba(122, 179, 224, 0.78);
	width: 280px;
	height: 100%;
	color: #fff;

	position: absolute;
	top: 0;
	right: 0px;
}
	.nivo-caption h2,
	.nivo-caption .slider-title{
		margin-bottom: 6px;
		padding-left: 4px;
		line-height: 35px;
		font-style: italic;
		font-size: 28px;
		color: #fff;
	}

.nivo-caption h2 a,
.nivo-caption .slider-title a{ text-decoration: none; }

.nivo-caption p,
.nivo-caption .slider-content p {
	padding: 5px;
	margin: 0;
	color: #fff;
}

.nivo-caption a {
	display: inline !important;
	color: #fff !important;
	text-decoration: underline;
}
.nivo-caption a:hover { color: #fff !important; text-decoration: none; }

.nivo-caption .read-more{ 
	margin-top: 10px;
	text-decoration: underline !important;
}

.nivo-html-caption {
    display: none;
}

/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position: absolute;
	top: 45%;
	z-index: 9;
	cursor: pointer;
}
.nivo-prevNav {
	left: 0px;
}
.nivo-nextNav {
	right: 0px;
}

/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	z-index: 999;
	position: absolute;
    right: 28px;
    bottom: 40px;
}
.nivo-controlNav a {
	position: relative;
	z-index: 9;
	cursor: pointer;
}
	.nivo-controlNav a.active {
		font-weight:bold;
	}

/* slider navigation  */
#slider-wrapper { margin-top: 10px;}

#slider { position: relative; background: url('../images/loading.gif') no-repeat 0 0; width: 100%; display: block; }
#slider img { position: absolute; top: 0px; left: 0px; display: none; }
#slider a { border: 0; display: block; }

.nivo-controlNav a { float: left; margin-right: 0px; width: 20px; height: 20px; background:url('../images/bullets.png') no-repeat 0 0; display: block; text-indent: -9999px; border: 0; }
.nivo-controlNav a.active { background-position:0 -22px; }

.nivo-directionNav a { background: url('../images/arrows.png') no-repeat 0 0; width: 30px; height: 30px; text-indent: -9999px; display: block; }
a.nivo-nextNav { background-position: -30px 0; right: 300px; }
a.nivo-prevNav { left: 15px; }


@media screen and (max-width: 767px) {
	#slider img {
	}
	.nivo-caption {
		position:absolute;
		left:0px;
	    top: initial;
		bottom:0px;
		height: auto;
		color:#fff;
		width:100%;
		z-index:8;
		padding: 5px 10px;
		opacity: 0.8;
		overflow: hidden;
		display: none;
		-moz-opacity: 0.8;
		filter:alpha(opacity=8);
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
	}

	a.nivo-nextNav {
		right: 15px;
	}
}